.standard {
        border: 5px solid teal;
        background-color: #A5CFE3;
		text-align: center;
        padding: 40px;
        margin: 40px;
        width: 400px;
        height: 200px;
      }

.alternate {
	
	  width: 400px;
        height: 200px;
      }
    
